* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: inherit;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

/* CUSTOM CLASSES */

.flex {
    display: flex;
}

.direction-v {
    flex-direction: column;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.thin-txt {
    font-weight: var(--font-wt-thin);
}

.sm-descrip-txt {
    font-size: var(--font-xs);
}

.base-txt {
    font-size: var(--font-sm);
}

html {
    font-size: 20px;
}

:root {
    --font-base: .5rem;
    --font-xs: .6rem;
    --font-sm: .7rem;
    --font-m: 1rem;
    --font-l: 1.5rem;
    --font-xl: 2rem;
    --font-2xl: 2.2rem;

    --font-wt-ultra-thin: 100;
    --font-wt-thin:200;
    --font-wt-base: 400;
    --font-wt-bold: 600;
    --font-wt-bolder: 800;

    --txt-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --space-xs: .3rem;
    --space-sm: .5rem;
    --space-m: .8rem;
    --space-l: 1rem;
    --space-xl: 1.3rem;
    --space-2xl: 2.5rem;

    --color: #e3e0e0;

    --bg-color-body: rgb(26, 26, 26);

    --border-s: 2px solid var(--color);
}

/* BODY */

body {
    background-color: var(--bg-color-body);
    font-family: var(--txt-font);
    color: var(--color);
    padding: var(--space-sm) var(--space-m);
    gap: var(--space-2xl);
}

/* HEADER PART */

header {
    font-size: var(--font-sm);
    padding: var(--space-sm);
}

.navigation-bar {
    font-weight: var(--font-wt-base);
    gap: var(--space-m);
}

.logo {
    font-size: var(--font-m);
    font-weight: var(--font-wt-bold);
    padding: var(--space-xs);
    border: var(--border-s)
}

/* MAIN PART */

main {
    gap: var(--space-2xl);
}

section {
    gap: var(--space-l);
}

.intro-txt {
    font-size: var(--font-2xl);
    font-weight: var(--font-wt-bold);
}

.about-me-txt {
    display: none;
}

.sect-head-txt {
    font-size: var(--font-l);
}

/** MAIN/PROJECTS PART **/

.project-container {
    padding: var(--space-m) 0;
    gap: var(--space-2xl);
}

.project {
    width: 80%;
    border: var(--border-s);
    border-radius: var(--space-sm);
    padding: var(--space-sm);
}

.project img {
    width: 100%;
    height: 20vh;
}


/* FOOTER PART */

footer {
}

.socials-div {
    gap: var(--space-l);
    justify-content: flex-end;
    padding: var(--space-m)
}

.socials-img {
    background-color: white;
    width: var(--space-l)
}

.copyright-txt {
    text-align: center;
    font-weight: var(--font-wt-ultra-thin);
    font-size: var(--font-sm);
}


