* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: inherit;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

:root {
    font-size: 20px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    --font-base: .5rem;
    --font-xs: .6rem;
    --font-sm: .7rem;
    --font-m: 1rem;
    --font-l: 1.5rem;
    --font-xl: 2rem;
    --font-2xl: 2.2rem;

    --font-wt-ultra-thin: 100;
    --font-wt-thin: 200;
    --font-wt-base: 400;
    --font-wt-bold: 600;
    --font-wt-bolder: 800;

    --txt-font: "inter";

    --space-xs: .3rem;
    --space-sm: .5rem;
    --space-m: .8rem;
    --space-l: 1rem;
    --space-xl: 1.3rem;
    --space-2xl: 2.5rem;
    --space-3xl: 3rem;

    --width-100: 100%;

    --color-body: hsl(0, 5%, 85%);
    --color-titles: #e3e0e0;
    --a-color: hsl(0, 4%, 92%);
    --accent-color: #C6613F;

    --accent-color2: hsl(173, 60%, 40%);



    --bg-color-body: rgb(26, 26, 26);

    --border-s: 2px solid var(--color-body);
    --border-logo: 2px solid var(--accent-color2);


    --border-radius-s: 8px;
    --border-radius-m: 12px;
}

@font-face {
    font-family: "inter";
    src: url("./assets/Font/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "ibm sans";
    src: url("./assets/Font/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "public sans";
    src: url("./assets/Font/PublicSans-Regular.ttf");
}

/* CUSTOM CLASSES */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.thin-txt {
    font-weight: var(--font-wt-thin);
}

.sm-descrip-txt {
    font-size: var(--font-xs);
}

.base-txt {
    font-size: var(--font-sm);
}

.txt-justify {
    text-align: justify;
}

.a {
    color: var(--a-color);
}

.bordered {
    border: var(--border-s);
    border-radius: var(--space-sm);
}

img {
    width: 100%;
}

.txt-center {
    text-align: center;
}


/* BODY */

body {
    background-color: var(--bg-color-body);
    font-family: var(--txt-font);
    color: var(--color-body);
    gap: var(--space-xl);
    position: relative;
}

/* HEADER PART */

header {
    --position: sticky;
    --top: 0;
    font-size: var(--font-sm);
    padding: var(--space-m);
    font-family: "ibm sans";
    border-radius: var(--border-radius-s);
    background-color: var(--bg-color-body);
}

.navigation-bar {
    font-weight: var(--font-wt-base);
    gap: var(--space-m);
    color: var(--header-txt-color);
}

.nav-links {
    color: var(--accent-color2);
    font-weight: 600;
}

.logo {
    font-size: var(--font-m);
    font-weight: var(--font-wt-bold);
    padding: var(--space-xs) var(--space-sm);
    border: var(--border-logo);
    color: var(--accent-color2);
}

/* MAIN PART */

main {
    gap: var(--space-3xl);
    padding: var(--space-xl);
}

section {
    gap: var(--space-m);
    margin-top: var(--space-3xl);
}


.intro-txt {
    color: var(--accent-color2);
    font-size: var(--font-2xl);
    font-weight: var(--font-wt-bold);
    margin-bottom: var(--space-xs)
}

.about-me-txt {
    display: none;
}

.sect-head-txt {
    color: var(--accent-color2);
    font-size: var(--font-l);
}

/** MAIN/PROJECTS PART **/

.project-container {
    padding: var(--space-m) 0;
    gap: var(--space-2xl);
}

.project {
    width: 90%;
    padding: var(--space-sm);
}

.project img {
    width: var(--width-100);
    height: 7.5rem;
    object-fit: cover;
}

.project img:hover {
    cursor: pointer;
}


/* FOOTER PART */

footer {
    padding: var(--space-sm) var(--space-m);
}

.socials-div {
    gap: var(--space-l);
    justify-content: flex-end;
    padding: var(--space-xl) var(--space-xs);
}

.socials-img {
    background-color: white;
    width: var(--space-l)
}

.copyright-txt {
    font-size: var(--font-sm);
    font-weight: var(--font-wt-bold);
    color: var(--accent-color2);
}


.skill-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1.5rem;
}

.sect-label-container {
    margin-bottom: 4rem;
}

.skill-card  {
    gap: 1rem;
    padding: 1rem;
}

.skill-card img {
    width: 50%;
    align-self: center;
}
