* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "inter";
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;

    scrollbar-width: thin;
    scrollbar-color: var(--accent-color2) transparent;
}

.burger:focus {
  outline-color: var(--accent-color2);
}


:root {
    font-size: 20px;

    --font-base: 1rem;
    --font-xs: .6rem;
    --font-s: .7rem;
    --font-m: 1rem;
    --font-l: 1.5rem;
    --font-xl: 2rem;
    --font-2xl: 2.2rem;
    --font-3xl: 2.5rem;

    --font-wt-ultra-thin: 100;
    --font-wt-thin: 200;
    --font-wt-base: 400;
    --font-wt-bold: 600;
    --font-wt-bolder: 800;

    --space-xs: .3rem;
    --space-s: .5rem;
    --space-m: .8rem;
    --space-l: 1rem;
    --space-xl: 1.3rem;
    --space-2xl: 2.5rem;
    --space-3xl: 3rem;
    --space-max: 5rem;

    --width-100: 100%;

    --border-color2: hsl(0, 5%, 40%);
    --color-body: #dbd7d7;
    --color-titles: #e3e0e0;
    --a-color: #e7e5e5;
    --accent-color: #d46039;
    --card-bg: #242424;
    --border-color: #353434;

    --accent-color2: #d37144;


    --bg-color-body: #1a1a1a;



    --border-s: 2px solid #353434;
    
    --border-radius-xs: 4px;
    --border-radius-s: 8px;
    --border-radius-m: 12px;

    
}

@font-face {
    font-family: "inter";
    src: url("./assets/Font/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "ibm sans";
    src: url("./assets/Font/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "public sans";
    src: url("./assets/Font/PublicSans-Regular.ttf");
}

/* CUSTOM CLASSES */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.underline {
    text-decoration: underline;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.thin-txt {
    font-weight: var(--font-wt-ultra-thin);
}

.s-txt {
    font-size: var(--font-xs);
}

.base-txt {
    font-size: var(--font-s);
}

.txt-justify {
    text-align: justify;
}

.txt-right {
    text-align: right;
}

.a {
    color: var(--a-color);
    margin-top: var(--space-xl);
}

.bordered {
    border: var(--border-s);
    border-radius: var(--space-s);
}

.txt-center {
    text-align: center;
}

.gap-s {
    gap: var(--space-s);
}

.gap-l {
    gap: var(--space-l);
}

.gap-xl {
    gap: var(--space-xl);
}

.display-none {
    display: none;
}

.italic {
    font-style: italic;
}

.disabled {
    border: 3px solid red;
}

/* BODY */

body {
    user-select: none;
    background: var(--bg-color-body) fixed;
    color: var(--color-body);
    position: relative;
}

/* HEADER PART */

.burger {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.burger div {
    width: 80%;
    height: 4px;
    background-color: var(--accent-color2);
    margin: 6px 0;
    border-radius: var(--border-radius-xs);
    transition: all 0.3s ease;
}

.burger img {
    width: 100%;
}


.header {
    position: sticky;
    top: 0;
    font-size: var(--font-s);
    padding: var(--space-m);
    background-color: var(--bg-color-body);
    z-index: 1;
    border-bottom: 0.5px solid #353434;
}

.navigation-bar {
    right: 0%;
    bottom: -260%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-weight: var(--font-wt-base);
    color: var(--header-txt-color);
    height: 200px;
    width: 100%;
    padding: var(--space-m);
    background-color: inherit;
    text-align: center;
    border-radius: 5px;
}

.nav-links {
    color: var(--accent-color2);
    font-weight: 600;
}

.logo {
    font-size: var(--font-m);
    font-weight: var(--font-wt-bolder);
    padding: var(--space-xs);
    border: var(--border-logo);
    color: var(--accent-color2);
    border: 2px solid var(--accent-color2);
}

/* MAIN PART */

main {
    backdrop-filter: blur(2px);
    padding: var(--space-s) var(--space-m) var(--space-2xl) var(--space-m);
    width: min(var(--width-100), 768px);
    margin-inline: auto;
}

section {
    gap: var(--space-m);
    margin-bottom: var(--space-3xl);
}

.sect-head-txt {
    color: var(--color-titles);
    font-size: var(--font-l);
    margin-top: var(--font-xl);
}

/* INDEX */

.intro-txt {
    color: var(--accent-color2);
    font-size: var(--font-3xl);
    font-weight: var(--font-wt-bold);
    margin-bottom: var(--space-xs)
}

.call-to-action {
    cursor: pointer;
    margin-top: var(--space-l);
    color: var(--accent-color2);
    padding: var(--space-s) var(--space-m);
    border: 2px solid var(--accent-color2);
}

.first-sect {
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: var(--space-max);
}

/* INDEX-PROJECT */

.index-project-container {
    width: 95%;
    height: 460px;
    align-self: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: var(--border-radius-m);
}

.index-project-container::-webkit-scrollb   ar {
    display: none;
    }

.proj-wrapper {
    transition: all 0.3s ease;
    height: 100%;
}

.project-container {
    width: 400px;
    padding: var(--space-m);
    gap: var(--space-2xl);
}

.project {
    flex: 1 0 100%;
    padding: var(--space-l) var(--space-m);
    height: 100%;
    scroll-snap-align: start;
}

.view-project-container {
    padding: 0 var(--space-s);
}

.proj-navigation {
    justify-self: end;
}

.project-title {
    font-size: var(--font-m);
    font-weight: var(--font-wt-bold);
    margin-top: var(--space-l);
    margin-bottom: var(--space-xs);
}

.project img {
    aspect-ratio: 16 / 10;
    width: 100%;
    object-fit: cover;
    object-position:left;
    margin-bottom: var(--space-m);
    border-top-left-radius: var(--border-radius-m);
    border-top-right-radius: var(--border-radius-m);
}

.tech-wrapper {
    flex-flow: row wrap;
}

.tech-used {
    font-size: var();
    color: var(--accent-color2);
    border: 1px solid var(--accent-color2);
    width: fit-content;
    padding: var(--space-xs) var(--space-m);
    border-radius: var(--border-radius-m);
}

.view-project {
    justify-self: self-end;
    display: block;
    justify-self: flex-end;
    margin-top: var(--space-xl);
    border-radius: var(--border-radius-m);
    padding: var(--space-s) var(--space-m);
    border: 2px solid var(--border-color2);
    color: var(--border-color2);
    cursor: pointer;
    width: fit-content;
}

.all-projects-btn {
    border: 2px solid var(--accent-color2);
    color: var(--accent-color2);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--border-radius-m);
    width: fit-content;
    cursor: pointer;
}

.proj-circles-wrapper {
    align-self: center;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
}

.active-circle {
    border: 4px solid var(--a-color);
}

.proj-circles {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--border-color2);
    cursor: pointer;
}   

.proj-footer {
    padding: 0 var(--space-m);
}

.proj-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--border-color2);
    font-weight: var(--font-wt-bold);
}

/* FOOTER PART */
    
footer {
    border-top: 0.5px solid var(--border-color);
    padding: var(--space-xl);
    padding-top: 5rem;
    margin-inline: auto;
    width: min(100%, 768px);
    /* background-color: hsl(0, 0%, 12%); */
}

.footer-links {
    border-bottom: 1px solid #3d3c3c;
}

.socials-div {
    gap: var(--space-l);
    justify-content: flex-end;
    padding: var(--space-xl) var(--space-xs);
}

.socials-img {
    background-color: white;
    width: var(--space-l)
}

.copyright-txt {
    font-size: var(--font-xs);
    font-weight: var(--font-wt-thin);
}


.about-sect {
    gap: var(--space-l);
}

.about-container {
    padding: var(--space-xs);
    padding-bottom: var(--space-xl);
    padding-top: var(--space-xl);
    gap: var(--space-m);
}

.about-self img{
    justify-self: flex-start;
    width: 170px;
    height: 150px;
    border-radius: var(--border-radius-xs);
    object-fit: cover;
}

.first-abt {
    border-bottom: 2px solid var(--border-color);
    padding-bottom: var(--space-2xl);
}

.first-abt img {
    width: 65%;
    border-radius: 50%;
    margin-bottom: var(--space-l);
}

.right-d {
    flex-direction: row;
}

.left-d {
    flex-direction: row-reverse;
}

.java-comp {
    object-position: right;
}

.programming-img {
    object-position: top;
}
.sect-label-container {
    margin-bottom: 4rem;
}


.project-main {
    gap: var(--space-xl);
}

.proj-2 {
    width: 95%;
    padding: var(--space-m) var(--space-s) var(--space-l) var(--space-m);
    height: fit-content;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.proj-2 img {
    width: 100%;
    aspect-ratio: 16 / 9.5;
    object-fit: cover;
    margin-bottom: var(--space-m);
}


@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-0 {
    animation-delay: 0s;
}

.delay-3 {
    animation-delay: 0.3s;
}

.animate {
  animation: dropIn 0.6s ease forwards;
  opacity: 0;
  animation-delay: 0.3s;
}

.fade-in {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateX(0);
}


/* CONTACT */

.contact-main {
    min-height: 0;
}

.contact-socials-container {
    padding-top: var(--space-2xl);
}

.contact-socials {
    height: 100px;
    padding-left: var(--space-s);
    cursor: pointer;
}

.contact-socials img {
    width: 30px;
}

.buymeacoffee {
    margin-top: var(--space-m);
    width: 170px;
}

@media (min-width: 768px) {

    :root {
        font-size: 22px;
    }

    /* HEADER */
    /* INDEX */

    .index-main {
        padding: var(--space-m);
        padding-bottom: var(--space-2xl);
    }

    .index-project-container {
        width: 75%;
        height: 600px;
    }

    .proj-wrapper {
        height: 100%;
    }

    .project {
        height: 100%;
        padding: var(--space-m);
    }

     .project img, .proj-2 img {
        object-position: left;
        width: 100%;
        margin-bottom: var(--space-s);
    }


    /* PROJECT */

    .project-main {
        margin: 0;
        width: 100%;
        padding: var(--space-xl);
    }

    .project-container {
        align-self: center;
        flex-flow: row wrap;
        width: 100%;
        gap: var(--space-xl);
        padding: 0;
    }

    .proj-description {
        font-size: var(--font-s);
    }

    .numerous-tech > .tech-used {
        padding: var(--space-xs) var(--space-s);
    }

    .proj-2 {
        flex: 1 0 45%;
        padding: var(--space-l) var(--space-m);
        padding-bottom: var(--space-xl);
        height: fit-content;
    }

    .footer-links-container {
        width: 70%;
        justify-content: space-around;
    }

    .footer-links {
        color: var(--a-color);
        border-bottom: 2.5px solid #3d3c3c;
    }


    /* ABOUT */
    .about-container img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
    }

    .reverse {
        flex-direction: row-reverse;
    }
}

@media (min-width: 1024px) {

    :root {
        font-size: 26px;
    }

    main {
        width: 80%;
    }

    /* INDEX */

    .intro-txt {
        font-size: 2.5rem;
    }

    .arrow {
        transition: all 0.3s ease;
    }

    .call-to-action:hover {
        background-color: var(--accent-color2);
        color: var(--a-color);
        font-weight: var(--font-wt-bold);
    }

    .call-to-action:hover > .arrow {
        transform: translateX(6px);
    }

    .index-project-container {
        padding-left: 5rem;
        width: 500px;
        padding-top: var(--space-2xl);
        height: 700px;
    }

    /* INDEX-PROJ */

    .project, .proj-2 {
        transition: all 0.3s ease;
        cursor: pointer;
        height: 450px;
        width: 400px;
    }

    .proj-2:hover, .project:hover {
        transform: translateY(-10px);
        border: 2px solid hsl(0, 5%, 65%);
    }

    .me-container {
        overflow: hidden;
        padding: 1rem;
    }

    .about-container img, .me-container img {
        
        transition: all 0.4s ease;
    }

    .first-abt img:hover, .about-container img:hover {
        border: 3px solid var(--accent-color2);
        transform: scale(1.05);
    }

    .contact-socials {
        transition: all 0.3s ease;
    }

    .contact-socials:hover {
        transform: translateX(20px);
    }

    .buymeacoffee {
        transition: all 0.3s ease;
    }

    .buymeacoffee:hover {
        transform: scale(1.03);
    }
    
}