* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: inherit;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

:root {
    font-size: 20px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    --font-base: .5rem;
    --font-xs: .6rem;
    --font-sm: .7rem;
    --font-m: 1rem;
    --font-l: 1.5rem;
    --font-xl: 2rem;
    --font-2xl: 2.2rem;

    --font-wt-ultra-thin: 100;
    --font-wt-thin: 200;
    --font-wt-base: 400;
    --font-wt-bold: 600;
    --font-wt-bolder: 800;

    --txt-font: "ibm sans";

    --space-xs: .3rem;
    --space-sm: .5rem;
    --space-m: .8rem;
    --space-l: 1rem;
    --space-xl: 1.3rem;
    --space-2xl: 2.5rem;
    --space-3xl: 3rem;
    --space-max: 5rem;

    --width-100: 100%;

    --color-body: #dbd7d7;
    --color-titles: #e3e0e0;
    --a-color: #e7e5e5;
    --accent-color: #d46039;    

    ---accent-color2: #29a395;
    --accent-color2: #d37144;


    --bg-color-body: #1a1a1a;

    --border-s: 2px solid #353434;

    --border-radius-s: 8px;
    --border-radius-m: 12px;
}

@font-face {
    font-family: "inter";
    src: url("./assets/Font/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "ibm sans";
    src: url("./assets/Font/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "public sans";
    src: url("./assets/Font/PublicSans-Regular.ttf");
}

/* CUSTOM CLASSES */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.underline {
    text-decoration: underline;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.thin-txt {
    font-weight: var(--font-wt-ultra-thin);
}

.sm-txt {
    font-size: var(--font-xs);
}

.base-txt {
    font-size: var(--font-sm);
}

.txt-justify {
    text-align: justify;
}

.a {
    color: var(--a-color);
    margin-top: var(--space-xl);
}

.bordered {
    border: var(--border-s);
    border-radius: var(--space-sm);
}

.inter {
    font-family: "inter";
}

.txt-center {
    text-align: center;
}

.gap-l {
    gap: var(--space-l);
}

.gap-xl {
    gap: var(--space-xl);
}


/* BODY */

body {
    background: var(--bg-color-body) fixed;
    font-family: var(--txt-font);
    color: var(--color-body);
    position: relative;
}

main {
    backdrop-filter: blur(2px);
    min-height: 100vh;
    gap: var(--space-3xl);
    padding: var(--space-sm) var(--space-m) var(--space-2xl) var(--space-m);
    
    width: min(100vw, 680px);
    margin-inline: auto;
}

/* HEADER PART */

header {
    position: sticky;
    top: 0;
    font-size: var(--font-sm);
    padding: var(--space-m);
    font-family: "ibm sans";
    background-color: var(--bg-color-body);
    z-index: 1;
        border-bottom: 0.5px solid #353434;
}

.navigation-bar {
    font-weight: var(--font-wt-base);
    gap: var(--space-m);
    color: var(--header-txt-color);
}

.nav-links {
    color: var(--accent-color2);
    font-weight: 600;
}

.logo {
    font-size: var(--font-m);
    font-weight: var(--font-wt-bolder);
    padding: var(--space-xs) var(--space-sm);
    border: var(--border-logo);
    color: var(--accent-color2);
    border: 2px solid var(--accent-color2);
}

/* MAIN PART */


section {
    gap: var(--space-m);
    margin-top: var(--space-3xl);
}


.intro-txt {
    color: var(--accent-color2);
    font-size: var(--font-2xl);
    font-weight: var(--font-wt-bold);
    margin-bottom: var(--space-xs)
}

.sect-head-txt {
    color: var(--color-titles);
    font-size: var(--font-l);
}

/** MAIN/PROJECTS PART **/

.project-container {
    padding: var(--space-m) 0;
    gap: var(--space-2xl);
}

.project {
    width: 90%;
    padding: var(--space-sm);
}

.ul {
    padding: var(--space-xl);
}


.project img {
    width: var(--width-100);
    height: 7.5rem;
    object-fit: cover;
}

/* FOOTER PART */

footer {
    border-top: 0.5px solid #353434;
    padding: var(--space-3xl) 0 var(--space-xl) 0;
    margin-inline: auto;
    width: min(100vw, 680px);
    /* background-color: hsl(0, 0%, 12%); */
}

.footer-links {
    border-bottom: 1px solid #3d3c3c;
}

.socials-div {
    gap: var(--space-l);
    justify-content: flex-end;
    padding: var(--space-xl) var(--space-xs);
}

.socials-img {
    background-color: white;
    width: var(--space-l)
}

.copyright-txt {
    font-size: var(--font-xs);
    font-weight: var(--font-wt-thin);
    font-family: "inter";
    /* color: var(--accent-color2); */
}

.about-container {
    padding: var(--space-sm);
    gap: var(--space-l);
}

.about-container p {
    padding-left: var(--space-sm);
}

.about-self img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;

}

.java-comp {
    object-position: left;
}

.skill-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: var(--space-xl);
}

.sect-label-container {
    margin-bottom: 4rem;
}

.skill-card  {
    gap: 1rem;
    padding: 1rem;
}

.skill-card img {
    width: 50%;
    align-self: center;
}


@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-0 {
    animation-delay: 0s;
}

.delay-3 {
    animation-delay: 0.2s;
}

.animate {
  animation: dropIn 0.6s ease forwards;
  opacity: 0;
  animation-delay: 0.2s;
}

.fade-in {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateX(0);
}